* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amiko";
}

body {
  height: 100vh;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 40px;
}

.logo img {
  height: 120px;
  width: 260px;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 10px;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.home-title {
  padding-left: 60px;
  margin: 32px 0px;
  font-size: 35px;
}

img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.carousel {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: transparent;
  color: #000;
  border: none;
  /* padding: 0.5rem; */
  cursor: pointer;
  width: 10%;
  font-size: 40px;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}
