* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amiko", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 24px;
}

.logo img {
  height: auto;
  width: 150px;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 10px;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.home-title {
  margin: 10px 0px 10px 40px;
  font-size: 25px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
  overflow: hidden;
  position: relative;
  width: calc(100% - 100px);
}

.image-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(100% - 490px);
  height: 300px;
}

.image-container img {
  width: calc(100% / 3-10px);
  flex-shrink: 0;
  height: 100%;
  object-fit: cover;
  margin: 0 5px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.btn {
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5em;
}
.btn:hover {
  opacity: 0.5;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #333;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.footer-column {
  display: flex;
  flex-direction: column;
  padding: 25px 210px;
}
.contact-row {
  display: flex;
  align-items: center;
  margin: 6px 0px;
}
.contact-photo {
  width: 40px;
  height: 40px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.director-name {
  font-size: 20px;
  color: #7f918e;
}
.contact-position i {
  font-size: 14px;
  font-family: "Gupter", serif;
}
.social-media-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.icon-text-row {
  display: flex;
  align-items: flex-start;
  margin: 2px;
  font-size: 10px;
  color: #7f918e;
}
.icon-text-row a {
  color: #7f918e;
}

.icon {
  width: 10px;
  height: auto;
  margin-right: 5px;
}
.about-section {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  font-size: 20px;
  flex-direction: column;
  margin: 40px;
}
.about-section h1 {
  color: #7f918e;
  font-size: 35px;
  margin-bottom: 20px;
}
.about-section p {
  margin-top: 10px;
}
.subscription-section {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-right: 10px;
}
.subscription-section input {
  border: none;
  border-bottom: 1px solid #000;
  color: #9f9f9f;
  font-size: 16px;
}
.subscription-section button {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 9px 10px;
  font-size: 16px;
  margin-left: 25px;
}
.subscription-section button:hover {
  background-color: #556563;
}
.store-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 253px;
  height: auto;
  margin: 40px;
}
.card-inner {
  padding: 20px;
  text-align: left;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(14, 12, 12, 0.2);
}
.card img {
  width: 100%;
  height: auto;
}

.card button {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 9px 10px;
  font-size: 16px;
  display: block;
  width: 50%;
  box-sizing: border-box;
}

.card-button-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}
